<footer>
    <div style="text-align: center;
            padding: 12px; color: white;"><x>Tel</x> : 010 - 2380 -9361 도메인</div>
    <div style="text-align: center; color: white;">@2021 InTro-MusicㅣAll Right Reserved</div>
</footer>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="../index.js" type="text/javascript"></script>
</body>
</html>