<html lang="ko">
<head>

    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../style_01.css">
    <link href="https://fonts.googleapis.com/css2?family=Krona+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/070aaa2d76.js" crossorigin="anonymous"></script>
    <title>InTro-Music</title>

</head>
<body>
<header id="x">

    <div >

        <img src="/img/A-C/apple-music.png" alt="main-logo" >
        <table style="width: 350px;
                    height: 50px;">
            <tr>
                <th style="font-size: 42pt;
                            color: white;
                            letter-spacing: 6px;">InTro-Music</th>
            </tr>
        </table>
    </div>


</header>
<nav>
    <div>
        <ul id="nav_bar">
            <li style="border-top-left-radius: 12px;
                    border-top-right-radius: 12px;"><a class="nav" href="/home" target="_self">HOME</a> </li>
            <li><a class="nav" href="/genre" target="_self">GENRE</a></li>
            <li><a class="nav" href="/new" target="_self">NEW</a></li>
            <li style="border-bottom-left-radius: 12px;
                    border-bottom-right-radius: 12px;"><a class="nav" href="/board" target="_self">BOARD</a></li>
        </ul>
    </div>
</nav>