<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="http://ec2-13-125-74-26.ap-northeast-2.compute.amazonaws.com:8080/index.js" type="text/javascript"></script>
</body>
</html>
