<!DOCTYPE HTML>
<html>
<head>
    <title>스프링부트웹서비스</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="http://ec2-13-125-74-26.ap-northeast-2.compute.amazonaws.com:8080/style.css" type="text/css">

</head>
<body>
