{{>layout/othersheader}}

<section id="top">
    <section id="bt_new" >
        <div id="ch_new_chart">
            <div id="ctry">

                        <span><a  href="" target="_self"><i class="fas fa-fire"></i> FREE-BOARD <i class="fas fa-fire"></i>

                        </a></span>

            </div>

        </div>
        <article id="pl_new">

            <ul id="play_list">
                <li class="new_chart">
                    <iframe src="/" width=100% height=100% name="if_a" frameborder="0"></iframe>


                </li>


            </ul>
        </article>
    </section>


</section>

{{>layout/mainfooter}}