{{>layout/othersheader}}

<section id="top">
    <section id="bt_new" >
        <div id="ch_new">
            <div id="ctry">

                <span><a  href="" target="_self"><i class="fab fa-korvue"></i> 국내최신노래</a></span>
                <span><a  href="" target="_self"><i class="fas fa-flag-usa"></i> 해외최신노래</a></span>
            </div>

        </div>
        <article id="pl_new">

            <ul id="play_list">
                <li class="new_cha">
                    <div class="new_song_set">
                        <span class="num">1</span>
                        <span class="n_ab"><img class="img_n" src="/img/A-C/아이유.PNG"></span>
                        <span class="n_nm">아이유 - 돌림노래(feat.Dean)</span>
                        <span class="n_ad"><audio class="ad_n" src="/audi/A/아이유-돌림노래.mp3" controls></audio></span>
                    </div>
                    <div class="new_song_set">
                        <span class="num">2</span>
                        <span class="n_ab"><img class="img_n" src="/img/A-C/오스카.PNG"></span>
                        <span class="n_nm">Higher - Oscar</span>
                        <span class="n_ad"><audio class="ad_n" src="/audi/A/하이어-오스카.mp3" controls></audio></span>
                    </div>
                    <div class="new_song_set">
                        <span class="num">3</span>
                        <span class="n_ab"><img class="img_n" src="/img/A-C/새소년.PNG"></span>
                        <span class="n_nm">새소년 - 긴꿈</span>
                        <span class="n_ad"><audio class="ad_n" src="/audi/A/새소년-긴꿈.mp3" controls></audio></span>
                    </div>
                    <div class="new_song_set">
                        <span class="num">4</span>
                        <span class="n_ab"><img class="img_n" src="/img/A-C/애쉬.PNG"></span>
                        <span class="n_nm">Ash island - beautiful(feat.skinny brown)</span>
                        <span class="n_ad"><audio class="ad_n" src="/audi/A/ashisland-beautiful.mp3" controls></audio></span>
                    </div>
                    <div class="new_song_set">
                        <span class="num">5</span>
                        <span class="n_ab"><img class="img_n" src="/img/A-C/호미들.PNG"></span>
                        <span class="n_nm">호미들 - 사이렌</span>
                        <span class="n_ad"><audio class="ad_n" src="/audi/A/호미들-사이렌.mp3" controls></audio></span>
                    </div>
                    <div class="new_song_set">
                        <span class="num">6</span>
                        <span class="n_ab"><img class="img_n" src="/img/G-C/경서.PNG"></span>
                        <span class="n_nm">경서 - 밤하늘의 별을</span>
                        <span class="n_ad"><audio class="ad_n" src="/audi/G-M/경서.mp3" controls></audio></span>
                    </div>
                    <div class="new_song_set">
                        <span class="num">7</span>
                        <span class="n_ab"><img class="img_n" src="/img/G-C/방탄.PNG"></span>
                        <span class="n_nm">방탄소년단 - Dynamite</span>
                        <span class="n_ad"><audio class="ad_n" src="/audi/G-M/y2mate.com - BTS Dynamite lyrics 방탄소년단 Dynamite 가사  Color Coded Lyrics.mp3" controls></audio></span>
                    </div>
                    <div class="new_song_set">
                        <span class="num">8</span>
                        <span class="n_ab"><img class="img_n" src="/img/G-C/브랙.PNG"></span>
                        <span class="n_nm">BlackPink - Lovesickgirl</span>
                        <span class="n_ad"><audio class="ad_n" src="/audi/G-M/y2mate.com - BLACKPINK Lovesick Girls Lyrics Color Coded Lyrics.mp3" controls></audio></span>
                    </div>
                    <div class="new_song_set">
                        <span class="num">9</span>
                        <span class="n_ab"><img class="img_n" src="/img/G-C/sg.PNG"></span>
                        <span class="n_nm">SG워너비 - timeless</span>
                        <span class="n_ad"><audio class="ad_n" src="/audi/G-M/워너비.mp3" controls></audio></span>
                    </div>
                    <div class="new_song_set">
                        <span class="num">10</span>
                        <span class="n_ab"><img class="img_n" src="/img/G-C/검정.PNG"></span>
                        <span class="n_nm">검정치마 - 한시 오분</span>
                        <span class="n_ad"><audio class="ad_n" src="/audi/G-M/y2mate.com - 한시 오분 105.mp3" controls></audio></span>
                    </div>

                </li>
                <li class="new_cha">
                    <div class="new_song_set">
                        <span class="num">1</span>
                        <span class="n_ab"><img class="img_n" src="/img/H-C/peac.PNG"></span>
                        <span class="n_nm">Justin biber - peaches</span>
                        <span class="n_ad"><audio class="ad_n" src="/audi/H/y2mate.com - Justin Bieber  Peaches Lyrics ft Daniel Caesar Giveon  New Song 2021.mp3" controls></audio></span>
                    </div>
                    <div class="new_song_set">
                        <span class="num">2</span>
                        <span class="n_ab"><img class="img_n" src="/img/H-C/benee.PNG"></span>
                        <span class="n_nm">BENEE - supalonely</span>
                        <span class="n_ad"><audio class="ad_n" src="/audi/H/y2mate.com - BENEE  Supalonely Lyrics ft Gus Dapperton.mp3" controls></audio></span>
                    </div>
                    <div class="new_song_set">
                        <span class="num">3</span>
                        <span class="n_ab"><img class="img_n" src="/img/H-C/bil.PNG"></span>
                        <span class="n_nm">Billie Eilish - Your Power</span>
                        <span class="n_ad"><audio class="ad_n" src="/audi/H/y2mate.com - Billie Eilish  Your Power Lyrics.mp3" controls></audio></span>
                    </div>
                    <div class="new_song_set">
                        <span class="num">4</span>
                        <span class="n_ab"><img class="img_n" src="/img/H-C/closer.PNG"></span>
                        <span class="n_nm">Chainsmokers - closer</span>
                        <span class="n_ad"><audio class="ad_n" src="/audi/H/y2mate.com - The Chainsmokers  Closer Lyrics ft Halsey.mp3" controls></audio></span>
                    </div>
                    <div class="new_song_set">
                        <span class="num">5</span>
                        <span class="n_ab"><img class="img_n" src="/img/H-C/dj.PNG"></span>
                        <span class="n_nm">Dj khaled - I did it</span>
                        <span class="n_ad"><audio class="ad_n" src="/audi/H/y2mate.com - I DID IT Official Audio.mp3" controls></audio></span>
                    </div>
                    <div class="new_song_set">
                        <span class="num">6</span>
                        <span class="n_ab"><img class="img_n" src="/img/H-C/faded.PNG"></span>
                        <span class="n_nm">Alan Walker - faded</span>
                        <span class="n_ad"><audio class="ad_n" src="/audi/H/y2mate.com - Alan Walker  Faded Lyrics.mp3" controls></audio></span>
                    </div>
                    <div class="new_song_set">
                        <span class="num">7</span>
                        <span class="n_ab"><img class="img_n" src="/img/H-C/mat.PNG"></span>
                        <span class="n_nm">Matt Terry - Sucker for you</span>
                        <span class="n_ad"><audio class="ad_n" src="/audi/H/y2mate.com - Matt TerrySucker for You 한글가사자막해석.mp3" controls></audio></span>
                    </div>
                    <div class="new_song_set">
                        <span class="num">8</span>
                        <span class="n_ab"><img class="img_n" src="/img/H-C/new.PNG"></span>
                        <span class="n_nm">New Hope Club - LetmeDownslow</span>
                        <span class="n_ad"><audio class="ad_n" src="/audi/H/y2mate.com - 미 비포 유 날 천천히 떠나줘 New Hope Club 뉴 호프 클럽  Let me down slow 가사해석자막lyrics.mp3" controls></audio></span>
                    </div>
                    <div class="new_song_set">
                        <span class="num">9</span>
                        <span class="n_ab"><img class="img_n" src="/img/H-C/selena.PNG"></span>
                        <span class="n_nm">Selena Gomez - lose you to love me</span>
                        <span class="n_ad"><audio class="ad_n" src="/audi/H/y2mate.com - 저스틴 비버에게 셀레나 고메즈   Lose You To Love Me Selena Gomez 가사해석자막.mp3" controls></audio></span>
                    </div>
                    <div class="new_song_set">
                        <span class="num">10</span>
                        <span class="n_ab"><img class="img_n" src="/img/H-C/maroon5.PNG"></span>
                        <span class="n_nm">Maroon5 - memories</span>
                        <span class="n_ad"><audio class="ad_n" src="/audi/H/y2mate.com - Maroon 5  Memories 한글 가사 해석.mp3" controls></audio></span>
                    </div>
                </li>

            </ul>
        </article>
    </section>


</section>
{{>layout/mainfooter}}