{{>layout/header}}
<div id="hd">
    <h1 style="text-align: center; font-size: 3em; margin: 0px">게시글 등록</h1>
    <hr id="hr1">
</div>


<div id="mn">
    <div style="width: 100%; height: 100%;">
        <form style="width: 100%; height: 90%;">
            <div class="dv">
                <div class="a1">
                    <label class="lb" for="title">제목</label>
                    <input style="    border: 1px solid black;
    width: 100%;
    height: 80%;
    margin-right: 52px;
background-color: seashell;" type="text" id="title" placeholder="제목을 입력하세요.">
                </div>

            </div>
            <div class="dv">
                <div class="a1">
                    <label class="lb" for="author"> 작성자</label>
                    <input style="    border: 1px solid black;
    width: 100%;
    height: 80%;
    margin-right: 52px;background-color: seashell;" type="text" id="author" placeholder="작성자를 입력하세요.">
                </div>

            </div>
            <div id="dv_2">
                <div class="a1">
                    <label class="lb"for="content"> 내용</label>
                    <textarea style="    border: 1px solid black;
    width: 100%;
    height: 80%;
    margin-right: 52px;background-color: seashell;"id="content" placeholder="내용을 입력하세요."></textarea>
                </div>

            </div>
        </form>
        <div style="width: 100%;height: 10%; position: relative;">
            <div style="top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;">
                <a href="/" style="font-size: 2em;" role="button" target="if_a">취소</a>
                <button style="font-size: 2em;" type="button" id="btn-save">등록</button>
            </div>

        </div>
    </div>
</div>
{{>layout/footer}}