{{>layout/updateheader}}
<div id="hd">
    <h1 style="text-align: center; font-size: 3em; margin: 0px">게시글 수정</h1>
    <hr id="hr1">
</div>


<div id="mn">
    <div style="width: 100%; height: 100%;">
        <form style="width: 100%; height: 90%;">
            <div class="dv2">
                <div class="a1">
                    <label class="lb" for="title">글번호</label>
                    <input style="    border: 1px solid black;
    width: 100%;
    height: 80%;
    margin-right: 52px;
background-color: seashell;" type="text" id="id" value="{{post.id}}" readonly>
                </div>
            </div>
            <div class="dv2">
                <div class="a1">
                    <label class="lb" for="title">제목</label>
                    <input style="    border: 1px solid black;
    width: 100%;
    height: 80%;
    margin-right: 52px;
background-color: seashell;" type="text" id="title" value="{{post.title}}">
                </div>

            </div>
            <div class="dv2">
                <div class="a1">
                    <label class="lb" for="author"> 작성자</label>
                    <input style="    border: 1px solid black;
    width: 100%;
    height: 80%;
    margin-right: 52px;background-color: seashell;" type="text" id="author" value="{{post.author}}" readonly>
                </div>

            </div>
            <div id="dv_3">
                <div class="a1">
                    <label class="lb"for="content"> 내용</label>
                    <textarea style="    border: 1px solid black;
    width: 100%;
    height: 80%;
    margin-right: 52px;background-color: seashell;"id="content" >{{post.content}}</textarea>
                </div>

            </div>
        </form>
        <div style="width: 100%;height: 10%; position: relative;">
            <div style="top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;">
                <a href="/" style="font-size: 2em;" role="button" target="if_a">취소</a>
                <button style="font-size: 2em;" type="button" id="btn-update">수정완료</button>
                <button style="font-size: 2em;" type="button" id="btn-delete">삭제</button>
            </div>

        </div>
    </div>
</div>

{{>layout/updatefooter}}